<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
    <link href="~/Styles/Scriptures.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <header>
            <h1>My Scripture Journal</h1>
        </header>
        <div id="main">
            @RenderBody()
        </div>
        <footer>
            &copy; @DateTime.Now.Year My Scripture Journal
        </footer>
    </div>
</body>
</html>